.card-header-actions {
    padding: .75rem;
}

.navbar-brand .navbar-item img {
    width: 180px;
    max-height: unset;
}

@media (max-width: 1087px) {
    .navbar-brand .navbar-item img {
        width: 120px;
    }
}

.column {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

label {
	color: white;
}